h2 {
    font-size: 1.5em;
}

body{
    background-image: url('/recursos/fondo_reyes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    padding: 20%; 
}

.titulo{
    color: rgb(208, 211, 29);
    font-size: 3em;
}

.parrafo{
    color: white;
    font-size: 1.2em;
    text-align: center;
}

.botonPregunta{
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    background-color: #e0ff57c0;
    color: rgb(44, 90, 160);
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3);
}

.divPregunta{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.divPregunta2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.divPreguntaNombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botonPregunta2{
    margin: 10px;
    padding: 10px 20px;
    font-size: 2em;
    border-radius: 5px;
    border: none;
    background-color: #e0ff57c0;
    color: rgb(44, 90, 160);
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3);
}

input{
    height: 2em;
    background-color: blueviolet;
    border: none;
    border: 1px solid #e0ff57c0;
    color: #e0ff57c0;
    font-size: 2em;
    width: 6em;
    text-align: center;
}